/*
/*/
!/workspace/
!/htdocs
/htdocs/*
!/htdocs/xampp
/htdocs/xampp/*
!/htdocs/xampp/inventory
/htdocs/xampp/inventory/.idea
/htdocs/xampp/inventory/.metadata
/htdocs/xampp/inventory/.idea/*
/htdocs/xampp/inventory/.metadata/*